.main,
.loading,
.error {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  justify-content: flex-start;
  align-items: center;
  padding: 6rem;
  background-color: #f4f5f9;
}

.loading {
  justify-content: center;
  align-items: center;
}

.error {
  justify-content: center;
  align-items: center;
}
